.property {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  .body {
    display: flex;
    flex-direction: row;

    .parameter {
      display: flex;
    }
  }

  .keyword {
    color: darkblue;
  }
}
