<div class="method">
    <description *ngIf="description" [annotation]="description"></description>
    <annotation *ngFor="let annotation of annotations" [annotation]="annotation"/>
    <div class="body">
        <mat-icon (click)="toggleRun()">{{run ? 'expand_less' : 'expand_more'}}</mat-icon>
        <span class="keyword">fun</span>&nbsp;<span>{{method.name}}&#40;</span>
        <span *ngFor="let parameter of method.parameters; let i = index; let first = first ;let last = last;"
              class="parameter">
            <span *ngIf="i > 0">,&nbsp;</span>
            <span *ngFor="let annotation of parameter.annotations" style="display:flex;">
                <annotation [annotation]="annotation"/>
                &nbsp;
            </span>

            <span>{{parameter.name}} : <type [type]="parameter.type"/></span>
        </span>
        <span>&#41; : <type [type]="method.returnType"/></span>
    </div>
    <method-runner *ngIf="run" [method]="method" [model]="model" [service]="service"></method-runner>
</div>
