.microfrontend {
  padding: 10px 10px 10px 10px;

  mat-label {
       font-weight: bold;
   }

  .general {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-columns: min-content 1fr;
  }

  .mat-divider {
      margin-top: 10px;
      margin-bottom: 10px;
  }
}
