.badge {
  min-width: 20px;
  color: var(--list-badge-color);
  border-radius: 11px;
  font-size: var(--text-size-small);
  line-height: 20px;
  text-align: center;
  user-select: none;
  padding: 0px;
  margin: 0px;
  background-color: lightblue;
}