<div class="group" [ngClass]="{ open: open }">
  <div class="header">
    <div class="label"> {{group.name}}</div>

    <!-- number children -->

    <div class="right">
      <badge *ngIf="children > 0" [number]="children"></badge>

      <!-- plus -->

      <svg-icon *ngIf="plus && children === 0 || group.multiple" (click)="plus!()" name="plus"/>

      <!-- open / close -->

      <mat-icon (click)="toggle()"  class="toggle pi-low"></mat-icon>
    </div>
  </div>

 
  <extension-editor  *ngIf="open && group.extension" [element]="element!" [shape]="shape!" [extension]="group.extension" [config]="group"></extension-editor>
  
  <form *ngIf="open && !group.extension" class="body">
    <ng-container *ngFor="let property of group.properties">
      <ng-container *ngIf="group.hideLabel !== true">
        <property-name  #label [property]="property"/>
        <ng-container [property-editor]="element!" [group]="this" [label]="label" [shape]="shape!" [property]="property" [inputs]="{ value: valueOf(element!, property) }"></ng-container>
  
      </ng-container>

      <ng-container *ngIf="group.hideLabel === true" [property-editor]="element!" [group]="this" [shape]="shape!" [property]="property" [inputs]="{ value: valueOf(element!, property) }"></ng-container>

    </ng-container>
  </form>
</div>
