.property-panel {
  margin: 0px 0px 0px 0px;

  .header {
    font-family: "Roboto", sans-serif;
    font-size: 12px;

    background-color: rgb(241, 242, 244);
    color: black;

    padding: 4px 4px 4px 4px;

    padding-bottom: 9px;

    display: flex;

    .icon {

    }

    .labels {
      margin-left: 10px;

      .type {
        font-weight: 400;
      }

      .name {

      }
    }
  }
}
