<div class="group">
  <div class="header">
    <div class="label"> {{group.name}}</div>

    <!-- number children -->

    <div class="right">
      <div class="badge" *ngIf="children > 0">{{children}}</div>

      <!-- plus -->

      <svg-icon *ngIf="plus && children === 0 || group.multiple" (click)="plus!()" name="plus"/>

      <!-- open / close -->

      <svg-icon  (click)="toggle()" [name]="open ? 'arrow-down' : 'arrow-right'"></svg-icon>
    </div>
  </div>

  <div *ngIf="open" class="body">

    <extension-editor  *ngIf="group.extension" [element]="element!" [extension]="group.extension" [config]="group"></extension-editor>

    <ng-container *ngIf="!group.extension">
      <ng-container *ngFor="let property of group.properties">
        <!--div class="property">{{property.name}}</div-->
        <div [property-editor]="element!" [property]="property"></div>
      </ng-container>
    </ng-container>
  </div>
</div>
