.group {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border-top: 1px solid lightgray;

  margin: 0px 2px 0px 2px;

  &.open {
    .header .right .mat-icon.pi-low {
      transform: rotate(0deg);
    }
  }

  .header {
    display: flex;
    font-size: 12px;
    color: white;
    fill: white;
    background-color: #003366;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
      align-items: center;

      margin-top: 4px;

      .mat-icon.pi-low {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 7px;
        cursor: pointer;
        transform-origin: 6px 8px;
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }
    }



    .label {
      cursor: default;

      padding-left: 4px;
      padding-top: 2px;
      padding-bottom: 2px;

      font-weight: 600;
    }
  }

  .body {
    margin: 4px 4px 4px 4px;

    display: grid;
    grid-template-columns: min-content auto;
    align-items: baseline;
  }

  .property {
    cursor: default;
  }
}
