<mat-list class="service-instances" role="list">
    <a *ngFor="let instance of instances" [routerLinkActive]="['is-active']" mat-list-item
       role="listitem" routerLink="{{instance.instanceId}}">
        <div class="service-instance">
            {{instance.instanceId}}
            <mat-icon>language</mat-icon>
            {{instance.host}}:{{instance.port}}
            <mat-icon *ngIf="health[instance.instanceId] === 'PASSING'" class="ok">check_circle</mat-icon>
            <mat-icon *ngIf="health[instance.instanceId] !== 'PASSING'" class="nok">bug_report</mat-icon>
            {{health[instance.instanceId]}}
        </div>
    </a>
</mat-list>

