<div class="service">
  <description *ngIf="description" [annotation]="description"></description>
  <annotation *ngFor="let annotation of annotations" [annotation]="annotation"/>
  <div>
    <span class="keyword">{{service.kind}}</span>&nbsp;<class [class]="service.name"/>
    <span *ngIf="inherits()"> : </span>
    <class *ngIf="superClass()" [class]="service.inherits"/>

    <span *ngFor="let interface of service.implements; let i=index">
            <class [class]="interface"/>
            <span *ngIf="superClass() || i > 0">, </span>
        </span>

    <span *ngIf="open">&#123;</span>
  </div>
  <span *ngIf="open" class="body">
        <property *ngFor="let property of service.properties" [property]="property"/>
        <method *ngFor="let method of service.methods" [method]="method" [model]="model" [service]="service"/>
        &#125;
    </span>
</div>
