.method {
  margin-left: 20px;

  .parameter {
    display: grid;
    grid-template-columns: min-content;

    .error {
      letter-spacing: 0.4px;
      line-height: 20px;
      font-weight: 400;
      font-size: 12px;
      font-family: Roboto, sans-serif;
      color: rgb(244, 67, 54);
    }
  }

  .query {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;

    .play {
      align-self: flex-start;
      border: none;

      .icon {
        color: green
      }
    }

    .query-parameter {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .url {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
      }
    }


    .http-method {
      color: white;
      background: #fca130;
      border-radius: 3px;
      padding: 1px 8px 1px 8px;
      text-align: center;
    }
  }

  .result {

  }
}


