<div class="application">
  <!-- toolbar -->

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <command-button command="save"></command-button>
      <command-button command="addApplication"></command-button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="view">

    <!-- tree -->

    <application-tree class="tree" [applications]="applications" [microfrontends]="microfrontends" (onMenu)="menuRequest($event)" (onSelectionChange)="selectNode($event)"></application-tree>

    <!-- content area. -->

    <div class="content">
      <!-- microfrontend -->

      <microfrontend *ngIf="selectedMicrofrontend" [microfrontend]="selectedMicrofrontend!"  (dirty)="changed($event)"></microfrontend>

      <!-- microfrontend version -->

      <microfrontend-version *ngIf="selectedMicrofrontendVersion"  [microfrontend]="microfrontend!"  [microfrontendVersion]="selectedMicrofrontendVersion" (dirty)="changed($event)"></microfrontend-version>

      <!-- application -->

      <application *ngIf="selectedApplication" [application]="selectedApplication!" (dirty)="changed($event)"></application>

      <!-- application version -->

      <application-version *ngIf="selectedVersion" [application]="application!" [microfrontends]="microfrontends" [applicationVersion]="selectedVersion"  (dirty)="changed($event)"></application-version>
    </div>
  </div>
</div>
