:host {
  min-height: 100vh;
  width: 100%;
} 

.translations {


  .toolbar {
    .mat-mdc-button > .mat-icon {
      height: unset;
      margin-right: unset;
      font-size: 24px;
    }
  }

  .content {
    display: flex;

    .tree {
      padding: 10px;
    }

    .list {
      .selected {
        background-color: lightgray;
      }

      .star {
        color: black;
        float: right;
      }

      .messages {
        padding-right: 0px;


        .mdc-list-item__content {
          .mdc-list-item__primary-text {
            display: flex;
            align-items: center;
          }
        }

        .item {
          flex-grow: 2;
        }

        .delete {
          visibility: hidden;
          float: right;

          padding: unset;

          .mat-icon {
            height: 20px;
            width: 20px;
            font-size: 20px;

          }
        }

        .mat-list .mat-list-item .mat-list-item-content {
          justify-content: flex-start;
          align-self: center;
        }
      }

      .messages:hover {
        .delete {
          visibility: visible;
        }
      }
    }

    .form {
      padding: 10px;

      .locale:hover {
        .delete {
          visibility: visible;
        }
        .add {
          visibility: visible;
        }
      }

      .type:hover {
        .delete {
          visibility: visible;
        }
        .add {
          visibility: visible;
        }
      }

      .type {
        display: flex;
        align-items: center;

        .mat-mdc-icon-button {
          padding: unset;
          font-size: unset;
          width: unset;
          height: unset;
        }

        .icon {
          transform: scale(.8);
        }

        .add {
          visibility: hidden;
        }

        .delete {
          visibility: hidden;
        }
      }

      .locale {
        display: flex;
        align-items: center;

        .mat-mdc-icon-button {
          padding: unset;
          font-size: unset;
          width: unset;
          height: unset;
        }

        .icon {
          transform: scale(.8);
        }

        .delete {
          visibility: hidden;
        }

        .add {
          visibility: hidden;
        }
      }

      .type {
        font-weight: bold;
      }

      .message:hover {
        .delete {
          visibility: visible;
        }
      }

      .new {
        border-left-style: solid;
        border-left-width: 4px;
        border-left-color: rgba(0, 255, 0, 0.3);
      }

      .changed {
        border-left-style: solid;
        border-left-width: 4px;
        border-left-color: rgba(0, 89, 255, 0.3);
        //background-color: rgba(0, 89, 255, 0.3);
      }

      .deleted {
        border-left-style: solid;
        border-left-width: 4px;
        border-left-color: rgba(238, 104, 99, 0.3);
      }

      .message {
        .delete {
          visibility: hidden;

          .mat-icon {
            height: 20px;
            width: 20px;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
