<div>
    <div  *ngIf="outlet.isActivated == false" class="left">
        <h1>{{component.name}}</h1>
        <hr>
        <mat-tab-group *ngIf="component.name">
            <mat-tab label="General">
                <div class="general">
                    <mat-label>Description</mat-label>
                    <div>{{component.description}}</div>
                    <mat-label>Channels</mat-label>
                    <div class="channel" *ngFor="let channel of component.channels">
                        <div class="channel-name">{{channel.name}}</div>
                        <div class="channel-uri">{{channel.uri}}</div>
                    </div>
                </div>
            </mat-tab>
    
            <mat-tab class="services" label="Services">
                <div *ngFor="let service of component.services">{{service.name}}</div>
            </mat-tab>
    
            <mat-tab class="instances" label="Instances">
                <service-instance-list *ngIf="component" [component]="component"></service-instance-list>
            </mat-tab>
    
            <!--router-outlet></router-outlet-->
        </mat-tab-group>
    </div>

   <!-- router outlet -->

   <!--div class="right">
      <router-outlet  #outlet="outlet"></router-outlet>
   </div-->

   <router-outlet  #outlet="outlet"></router-outlet>
</div>

