<div>
    <div  *ngIf="outlet.isActivated == false" class="left">
        <h1>{{component.label}}
            <mat-icon class="error" *ngIf="dead">error</mat-icon></h1>
        <hr>
        <mat-tab-group *ngIf="component.name">
            <!-- general -->

            <!--mat-tab label="General">
                <div class="general">
                    <mat-label>Description</mat-label>
                    <div>{{component.description}}</div>
                    <mat-label>Channels</mat-label>
                    <div class="channel">
                    <ng-container *ngFor="let channel of component.channels">
                        <div class="channel-name">{{channel.name}}</div>
                        <div class="channel-uri">{{channel.uri}}</div>
                    </ng-container>
                </div>
                </div>
            </mat-tab-->

            <!-- services -->
    
            <mat-tab label="Services">
                <!-- component -->

                <span class="bold">Component</span>
                <span class="services">
                    <mat-icon (click)="toggle(0)">{{open[0] ? 'expand_less' : 'expand_more'}}</mat-icon>
                    <service [service]="component.model.component" [open]="open[0]"></service>
                </span>

                <!-- services -->

                <span class="bold">Services</span>
                <span class="services" *ngFor="let service of component.model.services; let i = index">
                    <mat-icon (click)="toggle(i+1)">{{open[i+1] ? 'expand_less' : 'expand_more'}}</mat-icon>
                    <service [model]="component.model" [service]="service" [open]="open[i+1]"></service>
                </span>

                <!-- models -->

                <span class="bold">Models</span>
                <span class="services" *ngFor="let service of component.model.models; let i = index">
                    <mat-icon (click)="toggle(i+1+component.model.services.length)">{{open[i+1+component.model.services.length] ? 'expand_less' : 'expand_more'}}</mat-icon>
                    <service [service]="service" [open]="open[i+1+component.model.services.length]"></service>
                </span>
            </mat-tab>

            <!-- instances -->
    
            <mat-tab class="instances" label="Instances">
                <service-instance-list *ngIf="component" [component]="component"></service-instance-list>
            </mat-tab>
        </mat-tab-group>
    </div>

   <!-- router outlet -->

   <router-outlet  #outlet="outlet"></router-outlet>
</div>

