<div class="method">
    <annotation [annotation]="annotation" *ngFor="let annotation of method.annotations"/>
    <div class="body"> 
        <span class="keyword">fun</span>&nbsp;<span>{{method.name}}&#40;</span>
        <span class="parameter" *ngFor="let parameter of method.parameters; let i = index; let first = first ;let last = last;">
            <span style="display:flex;" *ngFor="let annotation of parameter.annotations">
                <annotation [annotation]="annotation"/>
                &nbsp;
            </span>
           
            <span *ngIf="!first">{{parameter.name}} : <type [type]="parameter.type"/></span>
            <span *ngIf="i > 1">,&nbsp;</span>
        </span>
        <span>&#41; : <type [type]="method.returnType"/></span>
    </div>
</div>