.service-instance {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;

    mat-label {
        font-weight: bold;
    }

    .ok {
        color: green;
    }
    .nok {
        color: red
    }
}