<div class="annotation">
    <span class="name">@{{annotation.name}}</span>
    <!-- one parameter -->

    <span *ngIf="annotation.parameters.length == 1">
        &#40;
        <!-- value -->
        <span *ngIf="annotation.parameters[0].name == 'value'" class="parameter"><literal [value]="annotation.parameters[0].value"/></span>
        <!-- other properties-->
        <span *ngIf="annotation.parameters[0].name != 'value'" class="parameter">{{annotation.parameters[0].name}}=<literal [value]="annotation.parameters[0].value"/></span>
        &#41;
    </span>

    <!-- n parameter -->

    <span *ngIf=" annotation.parameters.length > 1">
        &#40;
        <span class="parameter" *ngFor="let parameter of annotation.parameters; let i = index">
            <span *ngIf="i > 0">, </span>
            {{parameter.name}}=<literal [value]="parameter.value"/>
        </span>
        &#41;
    </span>
</div>