<div class="service">
    <annotation [annotation]="annotation" *ngFor="let annotation of service.annotations"/>
    
    <div>
        <span class="keyword">{{service.kind}}</span>&nbsp;<class [class]="service.name"/> 
        <span *ngIf="inherits()"> : </span>
        <class *ngIf="superClass()" [class]="service.inherits"/>

        <span *ngFor="let interface of service.implements; let i=index">
            <class [class]="interface"/>
            <span *ngIf="superClass() || i > 0">, </span>
        </span>

        <span *ngIf="open">&#123;</span>
    </div>
    <span *ngIf="open" class="body">
        <property [property]="property" *ngFor="let property of service.properties"/>
        <method [method]="method" *ngFor="let method of service.methods"/>
        &#125;
    </span>
</div>