.service {
    display: flex;
    flex-direction: column;
    column-gap: 20px;

    .body {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .keyword {
        color: darkblue;
    }
}