<view>
  <button mat-button (click)="toggleBusy()">Toggle Busy</button>
  <button mat-button (click)="longRunning()">Long Running</button>
  <button mat-button (click)="lockView()">Lock</button>


  <button mat-button (click)="throwString()">String error</button>
  <button mat-button (click)="throwError()">Error</button>

  <button mat-button (click)="throwDeclaredServerError()">server error</button>
  <button mat-button (click)="throwServerError()">fatal server error</button>
  <button mat-button (click)="callBadURL()">bad url</button>
s
s
s
s
s

</view>

