.mat-tree-node {
    min-height: 0 !important;
}

.xmdc-icon-button {
    height: 0 !important;
}

.tree {
    .node {
        cursor: pointer;
    }

    .translation:before {
        content: "\2B24";
        color: blue;
        font-size: 8px;
        padding-right: 6px;
    }
    
    .inPath {
        font-weight: bold;
    }
}