.stretch {
  flex-grow: 2;
}

.example-container {
  height: calc(100% - 64px);
}
.content {
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  margin-right: 10px;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resize-handle-left,
      .resize-handle-right {
        position: absolute;
        height: 100%;
        cursor: col-resize;
        width: 5px;
        background-color: white;
      }

      .resize-handle-left {
        left: 0;
      }

      .resize-handle-left:hover {
        background-color: lightgrey;
      }
