<portal-header class="example-header">
    <!-- burger -->

    <burger (toggle)="navigation.toggleCollapse()" [isBurger]="true"></burger>

    <!-- current selection -->

    <current-feature></current-feature>

    <span class="stretch"></span>

    <!-- about -->

    <div class="button"(click)="about()">About</div>

    <!-- login or logout -->

    <user></user>

    <button mat-button (click)="help.toggle()"><mat-icon>help</mat-icon></button>
</portal-header>

<mat-sidenav-container autosize class="example-container">
    <mat-sidenav [fixedBottomGap]="0" [fixedInViewport]="true" [fixedTopGap]="64"
                 [opened]="true"
                 class="example-sidenav"
                 mode="side">
        <!--feature-navigation -->
        <feature-navigation #navigation></feature-navigation>
    </mat-sidenav>

    <mat-sidenav #help class="sidenav2" position="end" mode="side">
		  <help></help>
	</mat-sidenav>

    <mat-sidenav-content class="content">
        <!-- navigation loading indicator  -->

        <mat-progress-bar *ngIf="navigationIsLoading" color="indigo" mode="indeterminate"></mat-progress-bar>

        <!-- main body -->

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
