<portal-header class="example-header">
    <!-- burger -->

    <burger (toggle)="navigation.toggleCollapse()" [isBurger]="true"></burger>

    <!-- current selection -->

    <current-feature></current-feature>

    <span class="stretch"></span>

    <!-- locales -->

    <div class="button" *ngFor="let locale of locales"(click)="switch(locale)">{{locale}}</div>

    <!-- login or logout -->

    <div class="button"(click)="about()">About</div>

    <current-user></current-user>
</portal-header>

<mat-sidenav-container autosize class="example-container">
    <mat-sidenav [fixedBottomGap]="0" [fixedInViewport]="true" [fixedTopGap]="64"
                 [opened]="true"
                 class="example-sidenav"
                 mode="side">
        <!--feature-navigation -->
        <feature-navigation #navigation></feature-navigation>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <!-- main body -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
