<portal-header class="example-header">
  <!-- burger -->

  <burger [isBurger]="true" (toggle)="navigation.toggleCollapse()"></burger>

  <!-- current selection -->

  <current-feature></current-feature>

  <span class="stretch"></span>

  <!-- login or logout -->

  <current-user></current-user>
</portal-header>

<mat-sidenav-container autosize class="example-container">
  <mat-sidenav  mode="side" [opened]="true" class="example-sidenav"
               [fixedInViewport]="true"
               [fixedTopGap]="64"
               [fixedBottomGap]="0">
    <!--feature-navigation -->
    <feature-navigation #navigation></feature-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <!-- main body -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
