.application-tree-invisible {
  display: none;
}

.mat-tree-node {
  height: 48px;
}

.mat-tree-node:hover {
  background-color: rgb(229, 227, 227);
}

.application-tree ul,
.application-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.application-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.application-tree div[role=group] > .mat-tree-node {
  padding-left: 0px;
}


.node:hover {
  .menu {
    visibility: visible
  }
}

.node {
  cursor: pointer;
  padding-right: 10px;

  .icon {
  }

  .name {
    flex-grow: 2
  }

  .menu {
    visibility: hidden
  }

  .invisible {
    visibility: hidden
  }
}

.background-highlight {
  background-color: lightgray;
}
