:host {
  width: 100%;
}

.listener {
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #003366;
  fill: white;

  .property {
    cursor: default;
  }
}
