:host {
  width: 100%;
}

.listener {
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  fill: white;

  display: grid;
  grid-template-columns:min-content auto;
   align-items: baseline;

  .property {
    cursor: default;
  }
}
