<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button (click)="onToggleSidenav()" class="menuButton" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Home</a>
    </div>
    <div fxFlex fxHide.xs fxLayout fxLayoutAlign="end">
        <ul class="navigation-items" fxLayout fxLayoutGap="15px">
            <li *ngFor="let feature of features">
                <a [routerLink]="path(feature)">{{feature.label}}</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
