<div class="container">
  <div class="input-container">
    <ul class="chip-bar" (click)="onChipBarClick()">
      <li *ngFor="let item of items; let i = index" class="chip">
        <span class="chip-label">{{ item.name }}</span>

        <ng-container *ngFor="let arg of item.arguments">
          <input *ngIf="arg.type === 'string'" [(ngModel)]="arg.value" [style.width.ch]="3" type="text" (ngModelChange)="triggerChange()"/>
          <input *ngIf="arg.type === 'number'"  [(ngModel)]="arg.value" [style.width.ch]="3" type="number" (ngModelChange)="triggerChange()"/>
        </ng-container>


        <mat-icon class="md-18" *ngIf="removable" (click)="removeItem(i)">
          cancel
        </mat-icon>
      </li>

      <li class="input-field">
        <input  #inputField
          class="input"
          type="text"
          (focus)="focus(true)"
          (focusout)="focus(false)"
          cdkOverlayOrigin #trigger="cdkOverlayOrigin"
          autocomplete="off"
          [suggestionProvider]="suggestionProvider"
          [placeholder]="placeholder"
          [ngModel]="inputValue"
          (ngModelChange)="valueChange($event)"
          (keydown)="onKeyDown($event, inputField.value)"
        >
        <!-- the overlay for the possible suggestions -->
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="showOverlay">
          <object-tree [style]="{'font-size': '12px'}"
                       [object]="possibleConstraintsObject" (choose)="addChip($event)" (created)="onCreateOverlay($event)"  (destroyed)="onDestroyOverlay($event)"></object-tree>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
