<% if (feature.module) { %>
<% if (!(isChild || rootModule)) { %>
 import { <%= feature.component %> } from '<%= feature.relative + feature.file.file.substring(0, feature.file.file.length - 3) %>'
   <% for (let child of feature.children || [] ) { -%>
             <%- include(process.cwd() + '/tools/workspace-plugin/src/generators/microfrontend/router-module/includes/import.tmpl', { feature: child, isChild: true }) -%>
   <% } %>
<% } else { %>
<% } %>
<% } else { %>
  import { <%= feature.component %> } from '<%= feature.relative + feature.file.file.substring(0, feature.file.file.length - 3) %>'
   <% for (let child of feature.children || [] ) { -%>
             <%- include(process.cwd() + '/tools/workspace-plugin/src/generators/microfrontend/router-module/includes/import.tmpl', { feature: child, isChild: true }) -%>
   <% } %>
<% } %>
