:host {
    width: 100%;
  }

.property {
  display: flex;

  .left {
    display: flex;
    flex-direction: column;

    .line {
      height: 100%;
      background-color: black;
      color: black;
      width: 2px;
      align-self: center;
    }
  }

  .name {
    cursor: default;
  }

  .delete {
    visibility: hidden;
    margin-left: auto
  }
}

.property:hover svg-icon {
  visibility: visible;
}


