:host {
    width: 100%;
  }
  
 
  .schema {

    .name {
      display: flex;

      .add {
        visibility: hidden;
        margin-left: auto
      }
    }

    .name:hover svg-icon {
      visibility: visible;
    }
    
   
    .property {
      display: flex;

      .left {
        display: flex;
        flex-direction: column;

        .line {
          height: 100%;
          background-color: black;
          color: black;
          width: 2px;
          align-self: center;
        }
      }

      .delete {
        visibility: hidden;
        margin-left: auto
    }
  }
  
  .property:hover svg-icon {
    visibility: visible;
  }
  }

 

  