<div class="schema">
    <div class="name">
        <property-name #label [property]="nameProperty!" [group]="group"></property-name>
        <ng-container [property-editor]="element" [label]="label" [shape]="shape" [group]="group" [property]="nameProperty" [inputs]="{ value: element['name'] }"></ng-container>
        <svg-icon (click)="add()" name="plus" class="add"></svg-icon>
    </div>

    <div>
        <div *ngFor="let property of element['properties']; index as i" class="property">
            <div class="left">
                <svg-icon (click)="toggle(i)" [name]="open[i] ? 'arrow-down' : 'arrow-right'"></svg-icon>
                <div *ngIf="true" class="line"></div>
            </div>

            <div *ngIf="!open[i]">{{name(property)}}</div>
            <ng-container *ngIf="open[i]" [property-editor]="property" [shape]="shape" [group]="group" ></ng-container>

            <!--svg-icon (click)="add()" name="plus" class="add"></svg-icon-->
            <svg-icon (click)="delete(property)" name="delete" class="delete"></svg-icon>
        </div>
    </div>
  </div>
