<layout #layout [horizontal]="false">
  <!-- error panel -->

  <bottom #errorPane initialSize="244px" [iconTabs]="true">
    <tab title="Errors" icon="material:information-outline">
      <mat-nav-list class="errors" dense>

        <mat-list-item *ngFor="let error of errors" (click)="selectError(error)">
            <mat-icon matListItemIcon class="icon">error</mat-icon>
            <div matListItemTitle>{{type(error)}}</div>
            <div matListItemLine>{{error.error}}</div>
          <!--/a-->
        </mat-list-item>
      </mat-nav-list>
    </tab>
  </bottom>

  <!-- diagram -->

  <div class="diagram">
    <div #ref class="diagram-container"></div>
  </div>
</layout>

