.diagram {
  display: flex;

  height: 100%;
  width: 100%;

  .diagram-container {
      height: 100%;
      width: 100%;
    }
}

.errors {
  font-size: small;

  .error {
    display: flex;
    align-items: center;

    .icon {
      color: red
    }
  }
}
