<div class="container">
  <!-- breadcrumb -->

  <div *ngIf="outlet.isActivated == true" class="breadcrumb">
    <ng-container *ngFor="let route of routes; let i = index; let first = first ;let last = last;">
      <ng-container *ngIf="i > 0 && i < routes.length">
        /
      </ng-container>

      <a routerLink="{{route.route}}"> {{route.label}}</a>
    </ng-container>
  </div>

  <!-- manifest list -->

  <div  *ngIf="outlet.isActivated == false" class="left">
    <mat-nav-list>
      <ng-container *ngFor="let manifest of manifests">
        <mat-list-item class="manifest">
          <a [routerLinkActive]="['is-active']" routerLink="{{manifest.name}}" role="listitem" (click)="selectManifest(manifest)">
            <mat-icon>language</mat-icon>
            {{manifest.name}}
            ({{manifest.version}})
          </a>

          <mat-icon class="icon" (click)="addManifest()">add_circle</mat-icon>
          <mat-icon class="icon" (click)="removeManifest(manifest)">remove_circle</mat-icon>
          <mat-slide-toggle color="primary" class="toggle" [(ngModel)]="manifest.enabled"></mat-slide-toggle>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>

    </mat-nav-list>
  </div>

  <!-- router outlet -->

  <router-outlet  #outlet="outlet"></router-outlet>
</div>

