.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  height: 100%
}

.breadcrumb {
  display: flex; /* or inline-flex */
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
  color: gray;
}

.left {
  height: 100%;
  flex-grow: 0a
}

.right {
  height: 100%;
  flex-grow: 4
}
