<div class="container">
  <!-- breadcrumb -->

  <div *ngIf="outlet.isActivated == true" class="breadcrumb">
    <ng-container *ngFor="let route of routes; let i = index; let first = first ;let last = last;">
      <ng-container *ngIf="i > 0 && i < routes.length">
        /
      </ng-container>

      <a routerLink="{{route.route}}"> {{route.label}}</a>
    </ng-container>
  </div>

    <!-- toolbar -->

    <mat-toolbar *ngIf="outlet.isActivated == false">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>undo</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>

  <!-- manifest list -->

  <div  *ngIf="outlet.isActivated == false" class="left">
    <mat-nav-list>
      <ng-container *ngFor="let manifest of manifests">
        <mat-list-item class="manifest">
          <a [routerLinkActive]="['is-active']" routerLink="{{manifest.name}}" role="listitem" (click)="selectManifest(manifest)">
            <mat-icon>language</mat-icon>
            <span>
                {{manifest.name}}
            ({{manifest.version}})
            </span>
          </a>

          <mat-icon class="icon" (click)="addManifest()">add_circle</mat-icon>
          <mat-icon class="icon" (click)="removeManifest(manifest)">remove_circle</mat-icon>
          <mat-slide-toggle color="primary" class="toggle" [(ngModel)]="manifest.enabled" (ngModelChange)="onChangedEnabled(manifest)"></mat-slide-toggle>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>

    </mat-nav-list>
  </div>

  <!-- router outlet -->

  <router-outlet  #outlet="outlet"></router-outlet>
</div>

