<div>
  <div *ngIf="outlet.isActivated == false" class="left">

    <h1>{{manifest.name}}</h1>
    <hr/>
    <mat-tab-group *ngIf="manifest.name">
     <!-- details -->

      <mat-tab label="Details">
        <div class="details">
          <!-- header -->

          <div class="header">
            <mat-label>Name</mat-label>
            <div>{{manifest.name}}</div>

            <mat-label>Version</mat-label>
            <div>{{manifest.version}}</div>

            <mat-label>Commit</mat-label>
            <div>{{manifest.commitHash}}</div>

            <mat-label>Remote</mat-label>
            <div>{{manifest.remoteEntry}}</div>
          </div>

          <hr/>

          <!--  body -->

          <div class="body">
            <!-- features -->

            <div class="features">
              <mat-nav-list>
                <a mat-list-item *ngFor="let feature of manifest.features" role="listitem" (click)="selectFeature(feature)">
                  {{feature.id == "" ? "Root" : feature.id}}
                </a>
              </mat-nav-list>
            </div>

            <!-- details -->

            <div class="feature-details" >
              <!-- id -->

              <form *ngIf="selectedFeature != undefined">
                <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input type="text" matInput name="id" id="id" [(ngModel)]="selectedFeature.id">
                </mat-form-field>

                <!-- we need AN/AUS :-) -->

                <!-- visibility -->

                <mat-form-field class="chips">
                  <mat-label>Visibility</mat-label>

                  <mat-chip-list #visibilityChipList aria-label="Visibility selection">
                    <mat-chip *ngFor="let visibility of selectedFeature.visibility"
                              [removable]="true"
                              (removed)="removeVisibility(visibility)">
                      {{visibility}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>

                    <input
                      placeholder="New visibility..."
                      #visibilityInput
                      [formControl]="visibilityCtrl"
                      [matAutocomplete]="visibilityAuto"
                      [matChipInputFor]="visibilityChipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addVisibility($event)">
                  </mat-chip-list>
                  <mat-autocomplete #visibilityAuto="matAutocomplete" (optionSelected)="selectedVisibility($event)">
                    <mat-option *ngFor="let visibility of filteredVisibility | async" [value]="visibility">
                      {{visibility}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- permissions -->

                <mat-form-field class="chips">
                  <mat-label>Permissions</mat-label>

                  <mat-chip-list #permissionChipList aria-label="Permission selection">
                    <mat-chip *ngFor="let permission of selectedFeature.permissions"
                      [removable]="true"
                      (removed)="removePermission(permission)">
                      {{permission}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>

                    <input
                      placeholder="New permission..."
                      #permissionInput
                      [formControl]="permissionCtrl"
                      [matAutocomplete]="permissionAuto"
                      [matChipInputFor]="permissionChipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addPermission($event)">
                  </mat-chip-list>
                  <mat-autocomplete #permissionAuto="matAutocomplete" (optionSelected)="selectedPermission($event)">
                    <mat-option *ngFor="let permission of filteredPermissions | async" [value]="permission">
                      {{permission}}
                    </mat-option>
                  </mat-autocomplete>

                  <!-- category -->

                  <!-- tags -->

                  <!-- feature toggles -->

                </mat-form-field>

                <!-- categories, tags, featureToggles,
             -->

              </form>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- raw -->

      <mat-tab label="Raw">
        <!-- component -->

        <!--monaco-editor [options]="{}" [model]="model" [(ngModel)]="manifest" name="body_value" [id]="'body_value'"></monaco-editor-->

        <textarea>{{manifest | json}}</textarea>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- router outlet -->

  <router-outlet  #outlet="outlet"></router-outlet>
</div>

