<mat-toolbar class="toolbar" color="primary">
  <!-- burger -->

  <hamburger [isHamburger]="true" (toggle)="onToggleSidenav()"></hamburger>

  <!-- current selection -->

  <div class="title">
    <mat-icon>{{icon}}</mat-icon>
    <span>{{label}}</span>
  </div>

  <!-- login or logout -->

  <button (click)="sessionManager.login()" *ngIf="!sessionManager.hasSession()" mat-button>Login</button>

  <span *ngIf="sessionManager.hasSession()">
    <button [matMenuTriggerFor]="menu" mat-button>{{sessionManager.getUser().name}}</button>
    <mat-menu #menu="matMenu">
      <button (click)="sessionManager.logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>
