<mat-toolbar class="toolbar" color="primary">
  <!-- button -->

  <div fxHide.gt-xs>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- current selection -->

  <div class="title">
    <mat-icon>{{icon}}</mat-icon>
    <span>{{label}}</span>
  </div>

  <button (click)="sessionManager.login()" *ngIf="!sessionManager.hasSession()" mat-button>Login</button>

  <span *ngIf="sessionManager.hasSession()">
    <button [matMenuTriggerFor]="menu" mat-button>{{sessionManager.getUser().name}}</button>
    <mat-menu #menu="matMenu">
      <button (click)="sessionManager.logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>
