
  <mat-form-field>
    <input #input  matInput  #model="ngModel"
      type="text" id="form"  name="form"
      [ngModel]="name"  (ngModelChange)="onChange($event)"
     
      [placeholder]="type === 'feature' ? 'Feature' : 'Form'"

      [suggestionProvider]="suggestionProvider"


      [member]="suggestionProvider.suggestions"/>
    <mat-error *showErrors></mat-error>

    <!-- [check]="element" [shape]="shape" [property]="property.name" -->

    <!-- menu -->
    
    <span [matMenuTriggerFor]="menu" class="change-type-menu" matSuffix>
      <mat-icon>{{icons[type]}}</mat-icon>
    </span>  

    <button matSuffix *ngIf="type === 'form' && formNames.includes(name) " mat-icon-button (click)="editForm()" matSuffix> 
      <mat-icon>edit</mat-icon>
    </button>
  
    <button matSuffix *ngIf="type === 'form' && !formNames.includes(name)" mat-icon-button (click)="addForm()" matSuffix> 
      <mat-icon>add_box</mat-icon>
    </button>

    <!-- error -->

  
  </mat-form-field>

 

  <!-- the combo thing -->

  <mat-menu #menu="matMenu" class="change-type-menu-panel">
    <div (click)="changeType('form')" mat-menu-item> <mat-icon>{{icons["form"]}}</mat-icon></div>
    <div (click)="changeType('feature')" mat-menu-item> <mat-icon>{{icons["feature"]}}</mat-icon></div>
  </mat-menu>
  
