
  <mat-form-field class="dense-5">
    <input #input  matInput  #model="ngModel"
      type="text" id="form"  name="form"
      [ngModel]="name"  (ngModelChange)="onChange($event)"
      [disabled]="type === 'form'"
      [placeholder]="type === 'feature' ? 'Feature' : 'Form'">


    <mat-error *showErrors></mat-error>

    <!-- [check]="element" [shape]="shape" [property]="property.name"  [suggestionProvider]="suggestionProvider"


      [member]="suggestionProvider.suggestions"/>-->

    <!-- menu -->

    <span [matMenuTriggerFor]="menu" class="change-type-menu" matSuffix>
      <mat-icon>{{icons[type]}}</mat-icon>
    </span>

    <button matSuffix *ngIf="type === 'form' && formNames.includes(name) " mat-icon-button (click)="editForm()" matSuffix>
      <mat-icon>edit</mat-icon>
    </button>

    <button matSuffix *ngIf="type === 'form' && !formNames.includes(name)" mat-icon-button (click)="addForm()" matSuffix>
      <mat-icon>add_box</mat-icon>
    </button>

    <!-- error -->

  </mat-form-field>

  <!-- the form vs feature menu -->

  <mat-menu #menu="matMenu" class="change-type-menu-panel">
    <div *ngFor="let type of ['form', 'feature']" (click)="changeType(type)" mat-menu-item>
      <mat-icon>{{icons[type]}}</mat-icon>
    </div>
  </mat-menu>

