
<div class="inputoutput">

  <div class="inputs">
    <div class="header">
      <div class="label">Input</div>
      <svg-icon (click)="addInput()" name="plus" class="plus"/>
    </div>

    <div *ngFor="let input of element['inputParameters']; index as i" class="input">
      <div class="left">
        <svg-icon (click)="toggleInput(i)" [name]="openInputs[i] ? 'arrow-down' : 'arrow-right'"></svg-icon>
        <div class="line"></div>
      </div>

      <div *ngIf="!openInputs[i]" class="name">{{parameterName(input)}}</div>
      <div *ngIf="openInputs[i]"[property-editor]="input" [group]="group" [shape]="shape" class="input"></div>
      <svg-icon name="delete" class="delete" (click)="deleteInput(i)"></svg-icon>
    </div>
  </div>

  <div class="outputs">
    <div class="header">
      <div class="label">Output</div>
      <svg-icon (click)="addOutput()" name="plus" class="plus"/>
    </div>

    <div *ngFor="let output of element['outputParameters']; index as i" class="output">
      <div class="left">
        <svg-icon  (click)="toggleOutput(i)" [name]="openOutputs[i] ? 'arrow-down' : 'arrow-right'"></svg-icon>
        <div class="line"></div>
      </div>

      <div *ngIf="!openOutputs[i]" class="name">{{parameterName(output)}}</div>
      <div *ngIf="openOutputs[i]" [property-editor]="output" [group]="group" [shape]="shape"  class="output"></div>
      <svg-icon name="delete" class="delete" (click)="deleteOutput(i)"></svg-icon>
    </div>
  </div>
</div>
