<form #form="ngForm" class="input">
  <ng-container  *ngFor="let property of properties">
    <property-name #label [property]="property" ></property-name>

    <ng-container *ngIf="property.name === 'name'"  [property-editor]="element" [label]="label" [group]="group"  [shape]="shape" [property]="property" [settings]="{readOnly: readOnly}"></ng-container>

    <!-- type -->

    <ng-container *ngIf="property.name === 'type'"  [property-editor]="element" [label]="label" [group]="group"  [shape]="shape"  [property]="property" [settings]="typeHints" (valueChange)="typeChange($event)"></ng-container>

    <!-- source -->

    <ng-container *ngIf="property.name === 'source'"  [property-editor]="element" [label]="label" [group]="group"  [shape]="shape"  [property]="property" [settings]="sourceHints" (valueChange)="changeSource($event)"></ng-container>

    <!-- value -->

    <ng-container *ngIf="property.name === 'value'" [property-editor]="element" [label]="label" [group]="group"  [shape]="shape"  [property]="typedProperty" [settings]="valueHints"></ng-container>
  </ng-container>
</form>
