:host {
  width: 100%;

}

.inputoutput {
  font-family: "Roboto", sans-serif;
  width: 100%;

  .inputs {
    .delete {
      visibility: hidden;
      margin-left: auto;
    }
    .header {
      display: flex;
      justify-content: space-between;

      .label {
        font-weight: 600;
        font-size: 12px;
        color: white;
        fill: black;

        padding-left: 4px;
        padding-top: 2px;
        padding-bottom: 2px;

        .plus {
          fill: white;
        }
      }
    }


    .left {
      display: flex;
      flex-direction: column;

      .line {
        height: 100%;
        background-color: black;
        color: black;
        width: 2px;
        align-self: center;
      }
    }

    .input {
        display: flex;
        font-size: 12px;
        fill: black;

        .body {
          display: flex;
        }
    }

    .input:hover svg-icon {
      visibility: visible;
    }
  }

  .outputs {
    .delete {
      visibility: hidden;
      margin-left: auto;
    }
    .header {
      display: flex;
      justify-content: space-between;

      .label {
          font-weight: 400;
          font-size: 12px;

          padding-left: 4px;
          padding-top: 2px;
          padding-bottom: 2px;

          .plus {
            fill: white;
          }
        }
    }

    .left {
      display: flex;
      flex-direction: column;

      .line {
        height: 100%;
        background-color: black;
        color: black;
        width: 2px;
        align-self: center;
      }
    }

    .output {
      display: flex;
      font-size: 14px;
      fill: black;

      .body {
        display: flex;
      }
    }

    .output:hover svg-icon {
      visibility: visible;
    }
  }
}
