:host {
  width: 100%;

}

.output {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 5px;
  align-items: baseline;

  .type {
    display: flex;
    align-items: baseline;
  }
}
