<layout #layout [horizontal]="false">
  <!-- error panel -->

  <bottom #errorPane initialSize="244px" [iconTabs]="true">
    <tab title="Errors" icon="font:tb-settings">
      <mat-nav-list class="errors" dense>

        <mat-list-item *ngFor="let error of errors" (click)="selectError(error)">
          <mat-icon matListItemIcon class="icon">error</mat-icon>
          <div matListItemLine>{{error}}</div>
          <!--/a-->
        </mat-list-item>
      </mat-nav-list>
    </tab>
  </bottom>

  <!-- middle -->

  <div class="task">
    <task-form *ngIf="task.form.startsWith('form')" [task]="task"></task-form>
    <feature-outlet  *ngIf="task.form.startsWith('feature')" [feature]="task.form" [input]="{task: task}"></feature-outlet>
  </div>
</layout>


