<mat-form-field class="dense-5">
    <!-- input with suggestion provider -->

    <ng-container *ngIf="inputType === 'suggestionInput'">
      <input #input matInput  #model="ngModel" type="text" [suggestionProvider]="hints.suggestionProvider!" [ngModel]="value" [disabled]="readOnly" (ngModelChange)="onChange($event)" [check]="element" [shape]="shape" [property]="property.name"/>
      <mat-error *ngIf="model.invalid && model.touched">
        {{describe(model.errors)}}
      </mat-error>
    </ng-container>

     <!-- plain input  -->

    <ng-container *ngIf="inputType === 'input'">
      <input #input matInput type="text" [ngModel]="value"  #model="ngModel" (ngModelChange)="onChange($event)" [disabled]="readOnly" [check]="element" [shape]="shape" [property]="property.name" />
      <mat-error *ngIf="model.invalid && model.touched">
        {{describe(model.errors)}}
      </mat-error>
    </ng-container>

     <!-- select -->

    <ng-container *ngIf="inputType === 'select'">
      <mat-select class="dense-5" #input required [value]="value" (selectionChange)="onChange($event.value)">
        <mat-option *ngFor="let value of hints.oneOf" [value]="value">{{value}}</mat-option>
      </mat-select>
    </ng-container>
</mat-form-field>
