<mat-form-field class="dense-5">
    <!-- input with suggestion provider -->

    <input *ngIf="inputType === 'suggestionInput'" class="form-control"  [id]="property.name" [name]="property.name" #input matInput  #model="ngModel" type="text" [suggestionProvider]="settings.suggestionProvider!" [ngModel]="value" [disabled]="settings.readOnly === true" (ngModelChange)="onChange($event)" [check]="element" [shape]="shape" [property]="property.name"/>

     <!-- plain input  -->

    <input  *ngIf="inputType === 'input'" class="form-control"  [id]="property.name" [name]="property.name" #input matInput type="text" [ngModel]="value"  #model="ngModel" (ngModelChange)="onChange($event)" [disabled]="settings.readOnly === true" [check]="element" [shape]="shape" [property]="property.name" />

     <!-- select -->

    <mat-select  *ngIf="inputType === 'select'" [id]="property.name"  class="dense-5" #input required  [disabled]="settings.readOnly === true" [value]="value" (selectionChange)="onChange($event.value)">
      <mat-option *ngFor="let value of settings.oneOf" [value]="value">{{value}}</mat-option>
    </mat-select>

    <mat-error *showErrors/>
</mat-form-field>
