.icon-wrap {
  /* don't take the whole line */
  /*display: inline;*/
  /* transition the background change */
  transition: background-color 0.25s;
  /* height of the icon
  height: 16px;
  /* width of the icon
  width: 16px;*/
  /* space between the icon and the background edge */
  padding: 1px;
  /* make it rounded */
  border-radius: 50%;

  .icon {
    cursor: pointer;
  }
}


.icon-wrap.rotate0 {
  transform: rotate(0deg) !important;
  transition: transform 0.2s ease-in-out;
}

.icon-wrap.rotate45 {
  transform: rotate(45deg) !important;
  transition: transform 0.2s ease-in-out;
}

.icon-wrap.rotate90 {
  transform: rotate(90deg) !important;
  transition: transform 0.2s ease-in-out;
}

.icon-wrap.rotate135 {
  transform: rotate(135deg) !important;
  transition: transform 0.2s ease-in-out;
}

.icon-wrap.rotate180 {
  transform: rotate(180deg) !important;
  transition: transform 0.2s ease-in-out;
}



/* styles for the icon wrap when hovered */

.icon-wrap:hover  {
  /* add a background on hover */
  background-color: rgba(0, 0, 0, .15);
  /* pointer cursor on hover */
  cursor: pointer;
}




