<ng-container *ngIf="type != 'json'">
   <mat-form-field class="param" [ngSwitch]="type">
      <mat-label>{{parameter.name}}</mat-label>

      <ng-container  *ngSwitchCase="'string'" >
         <input matInput type="text" [(ngModel)]="parameter.value" (ngModelChange)='newValue($event)' name="{{parameter.name}}" [id]="parameter.name" required/>
      </ng-container>

      <ng-container  *ngSwitchCase="'number'">
         <input matInput  type="number" [(ngModel)]="parameter.value" (ngModelChange)='newValue($event)' name="{{parameter.name}}" [id]="parameter.name"/>
      </ng-container>

      {{form | json}}
      <!--mat-error *ngIf="!form.controls[parameter.name].valid">OUCH</mat-error-->
    </mat-form-field>
</ng-container>

<!--json-view *ngIf="type == 'json'" [schema]="parameter.schema" [(ngModel)]="parameter.value"  (ngModelChange)='newValue($event)'  name="{{parameter.name}}" [id]="parameter.name"></json-view-->
