<div class="method">
   <h3>Parameters</h3>

   <form #form="ngForm" class="parameter">
      <!--query-parameter [form]="form" *ngFor="let param of query.params" [model]="model" [parameter]="param" (changed)="onChange()"></query-parameter-->

      <ng-container *ngFor="let param of query.params">
         <!-- string -->

         <mat-form-field *ngIf="inputType4(param.type) == 'string'">
            <mat-label>{{param.name}}</mat-label>
            <input matInput type="text" [(ngModel)]="param.value" [validateParameter]="param" (ngModelChange)='onChange()' name="{{param.name}}" [id]="param.name" required/>
            <mat-error *ngIf="form.touched && isError(param.name)">{{errorMessage(param.name)}}</mat-error>
         </mat-form-field>

         <!-- number -->

         <mat-form-field *ngIf="inputType4(param.type) == 'number'">
            <mat-label>{{param.name}}</mat-label>
            <input matInput type="number" [(ngModel)]="param.value"  [validateParameter]="param" (ngModelChange)='onChange()' name="{{param.name}}" [id]="param.name" required/>
            <mat-error *ngIf="form.touched && isError(param.name)">{{errorMessage(param.name)}}</mat-error>
         </mat-form-field>

           <!-- boolean -->

           <mat-form-field *ngIf="inputType4(param.type) == 'boolean'">
            <mat-label>{{param.name}}</mat-label>
            <mat-select required name="{{param.name}}" [(ngModel)]="param.value"  (ngModelChange)='onChange()'  name="{{param.name}}" [id]="param.name">
               <mat-option [value]="false">False</mat-option>
               <mat-option [value]="true">True</mat-option>
            </mat-select>
            <mat-error *ngIf="form.touched && isError(param.name)">{{errorMessage(param.name)}}</mat-error>
         </mat-form-field>

         <!-- enum -->

         <mat-form-field *ngIf="inputType4(param.type) == 'enum'">
            <mat-label>{{param.name}}</mat-label>
            <mat-select required name="{{param.name}}" [(ngModel)]="param.value"  (ngModelChange)='onChange()'  name="{{param.name}}" [id]="param.name">
               <mat-option *ngFor="let value of enumValues(param.type)" [value]="value">{{value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.touched && isError(param.name)">{{errorMessage(param.name)}}</mat-error>
         </mat-form-field>

         <!-- date -->

         <mat-form-field *ngIf="inputType4(param.type) == 'date'">
            <mat-label>>{{param.name}}e</mat-label>
            <input matInput [matDatepicker]="picker"  [(ngModel)]="param.value"  (ngModelChange)='onChange()'  name="{{param.name}}" [id]="param.name">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

         <!-- json -->

         <div *ngIf="inputType4(param.type) == 'json'">
            <monaco-editor [options]="{}" [model]="paramModel(param)" [(ngModel)]="param.value"  (ngModelChange)='onChange()' name="{{param.name}}" [id]="param.name"></monaco-editor>
            <div class="error" *ngIf="form.touched && isError(param.name)">{{errorMessage(param.name)}}</div>
         </div>
      </ng-container>
   </form>

   <h3>Query</h3>

   <div class="query">
      <!-- [disabled]="!form.valid" -->
      <button  mat-icon-button  (click)="execute()" class="play">
         <mat-icon class="icon">play_arrow</mat-icon>
      </button>
    
      <div class="query-parameter">
         <div class="url">
            <span class="http-method">{{query.method}}</span>
            <span>{{executedURL}}</span>
         </div>

         <div *ngIf="query.method == 'post'" class="body">
            <monaco-editor [options]="{}" [model]="resultModel" [(ngModel)]="body.value" name="body_value" [id]="'body_value'"></monaco-editor>
         </div>
      </div>
   </div>

   <h3>Result</h3>

   <monaco-editor [options]="{}" [model]="resultModel" [(ngModel)]="result" name="result" [id]="'result'"></monaco-editor>
</div>