
.content {
  display: inline-flex;
  gap: 10px;

  .warn {
    color: yellow;
    font-size: xx-large;
  }

  .info {
    color: black;
    font-size: xx-large;
  }

  .error {
    color: red;
    font-size: xx-large;
  }

  .mat-icon {
    line-height: normal;
  }

  .text {
    align-self: center;
  }
}
