.application {

    .toolbar {

    }

    .view {
        display: flex;

        .tree {

        }
    
        .content {

            .microfrontend-instance {
                padding: 10px 10px 10px 10px;

                .general {
                    display: grid;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-template-columns: min-content 1fr min-content 1fr;
                
                    mat-label {
                    font-weight: bold;
                    }
                }

                .mat-divider {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .microfrontend-version {
                padding: 10px 10px 10px 10px;

                .general {
                    display: grid;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-template-columns: min-content 1fr min-content 1fr;
                
                    mat-label {
                    font-weight: bold;
                    }
                }

                .mat-divider {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .application {
                padding: 10px 10px 10px 10px;

                .general {
                    display: grid;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-template-columns: min-content 1fr min-content 1fr;
                
                    mat-label {
                      font-weight: bold;
                    }
                }

                .mat-divider {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                
            }

            .version {
                padding: 10px 10px 10px 10px;

                mat-label {
                    font-weight: bold;
                }

                .general {
                    margin-top: 10px;

                    display: grid;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-template-columns: min-content 1fr;
                }

                .mat-divider {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .configuration {
                    margin-top: 10px;
                }

                .microfrontends {
                    margin-top: 10px;

                    .table {
                        display: grid;
                        grid-template-columns: auto auto min-content;

                        table {
                            box-shadow: none !important;
                        }
                    }
                }
            } 
        }
    }

  
}
