<div class="microfrontend-version">
  <div class="general">
    <mat-label>Name</mat-label>
    <div>{{name(microfrontendVersion.id)}}</div>

    <mat-label>Type</mat-label>
    <div>{{version(microfrontendVersion.manifest.type)}}</div>

    <mat-label>Version</mat-label>
    <div>{{version(microfrontendVersion.id)}}</div>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="microfrontendVersion.manifest.type === 'shell'" class="application">
    <mat-label>Application</mat-label>
    <mat-form-field>
      <mat-label>Application</mat-label>
      <input type="text" matInput [suggestionProvider]="suggestionProvider" (ngModelChange)="applicationChanged($event)" [(ngModel)]="applicationVersion">
    </mat-form-field>
  </div>

  <div class="configuration">
    <mat-label>Configuration</mat-label>
    <configuration-tree [configuration]="configurationData" [inherits]="inheritedConfigurationData" (dirty)="onDirty($event)"></configuration-tree>
  </div>

  <div class="manifest">
    <mat-label>Manifest</mat-label>
    <manifest [manifest]="microfrontendVersion.manifest"  (onSave)="save()" (dirty)="onDirty($event)"></manifest>
  </div>

  <div class="instances">
    <mat-label>Instances</mat-label>
    <mat-nav-list>
      <ng-container *ngFor="let instance of microfrontendVersion.instances">
        <mat-list-item class="instance">
          <a [routerLinkActive]="['is-active']" class="content" role="listitem">
            <mat-icon>language</mat-icon>
          
            <span class="bold">URI</span>
            <span>{{instance.uri}}</span>
            <span class="bold">Health</span>
            <mat-icon [ngStyle]="{'color':instance.health === 'alive' ? 'green' : 'red' }">
              {{instance.health === "alive" ? "wifi" : "sentiment_very_dissatisfied"}}
            </mat-icon>
          </a>

          <!--mat-icon (click)="removeManifest(manifest)" class="icon">remove_circle</mat-icon-->
          <mat-slide-toggle (ngModelChange)="onChangedEnabled(instance)" [(ngModel)]="instance.enabled"  class="toggle"  color="primary"></mat-slide-toggle>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
