<div class="microfrontend-version">
  <div class="general">
    <mat-label>Name</mat-label>
    <div>{{name(microfrontendVersion.id)}}</div>
    <mat-label>Version</mat-label>
    <div>{{version(microfrontendVersion.id)}}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="configuration">
    <mat-label>Configuration</mat-label>
    <configuration-tree [configuration]="configurationData" [inherits]="inheritedConfigurationData" (dirty)="onDirty($event)"></configuration-tree>
  </div>
</div>
