 .microfrontend-version {
    padding: 10px 10px 10px 10px;

    mat-label {
       font-weight: bold;
    }

    .general {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: min-content 1fr min-content 1fr min-content 1fr;
    }

    .configuration {
        margin-top: 10px;
    }

    .application {
        display: grid
    }

    .manifest {
        margin-top: 10px;
    }

    .mat-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .instances {
        .instance {
            .content {
                display: inline-grid;
                align-items: center;
                grid-template-columns: 2em 15em 3em 6em 3em 2em 1em 8em;
            }

            a {
                text-decoration: none;
                color: black;
            }

            .bold {
                font-weight: bold;
            }

            .icon {
                visibility: hidden;
                float: right;
            }

            .togglex {
                float: right;
            }
        }
    }
}
