<div class="microfrontend-version">
  <div class="general">
    <mat-label>Name</mat-label>
    <div>{{name(microfrontendVersion.id)}}</div>

    <mat-label>Type</mat-label>
    <div>{{version(microfrontendVersion.manifest.type)}}</div>

    <mat-label>Version</mat-label>
    <div>{{version(microfrontendVersion.id)}}</div>

    <mat-label>Enabled</mat-label>
    <mat-slide-toggle (ngModelChange)="onEnabled(microfrontendVersion)" [disabled]="!microfrontend.enabled" [(ngModel)]="microfrontendVersion.enabled"  class="toggle"  color="primary"></mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>

  <!--div *ngIf="microfrontendVersion.manifest.type === 'shell'" class="application">
    <mat-label>Application</mat-label>
    <mat-form-field>
      <mat-label>Application</mat-label>
      <input type="text" matInput [suggestionProvider]="suggestionProvider" (ngModelChange)="applicationChanged($event)" [(ngModel)]="applicationVersion">
    </mat-form-field>
  </div-->

  <div class="configuration">
    <mat-label>Configuration</mat-label>
    <configuration-tree [configuration]="configurationData" [inherits]="inheritedConfigurationData" (dirty)="onDirty($event)"></configuration-tree>
  </div>

  <div class="manifest">
    <mat-label>Manifest</mat-label>
    <manifest [manifest]="microfrontendVersion.manifest"  (onSave)="save()" (dirty)="onDirty($event)"></manifest>
  </div>

  <div class="instances">
    <mat-label>Instances</mat-label>
    <mat-nav-list>
      <ng-container *ngFor="let instance of microfrontendVersion.instances">
        <mat-list-item class="instance">
          <a [routerLinkActive]="['is-active']" class="content" role="listitem">
            <!-- url -->
            <mat-icon>language</mat-icon>
            <span>{{instance.uri}}</span>

            <!-- stage -->      
            <span class="bold">Stage</span>
            <input type="text" matInput [suggestionProvider]="stageSuggestionProvider" (focus)="focusStage(instance)" (blur)="unfocusStage(instance)" [(ngModel)]="instance.stage" (ngModelChange)="stageChanged(instance)">
            
            <span></span>

            <!-- health -->
            <span class="bold">Health</span>
            <mat-icon [ngStyle]="{'color':instance.health === 'alive' ? 'green' : 'red' }">
              {{instance.health === "alive" ? "wifi" : "sentiment_very_dissatisfied"}}
            </mat-icon>
            
            <!-- enabled -->
            <span></span>
            <mat-slide-toggle (ngModelChange)="onChangedEnabled(instance)" [disabled]="!microfrontendVersion.enabled || !microfrontend.enabled" [(ngModel)]="instance.enabled"  class="toggle"  color="primary"></mat-slide-toggle>
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
