<mat-nav-list>
    <a (click)="onSidenavClose()" mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>

    <a (click)="onSidenavClose()" mat-list-item routerLink="/owner">
        <mat-icon>assignment_ind</mat-icon>
        <span class="nav-caption">Owner Actions</span>
    </a>

    <a (click)="onSidenavClose()" mat-list-item routerLink="#">
        <mat-icon>account_balance</mat-icon>
        <span class="nav-caption">Account Actions</span>
    </a>

    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Example</a>
    </mat-list-item>

    <mat-menu #menu="matMenu">
        <button (click)="onSidenavClose()" mat-menu-item>View Profile</button>
        <button (click)="onSidenavClose()" mat-menu-item>Add contact</button>
    </mat-menu>
</mat-nav-list>
