<div class="errors">
  <!-- toolbar -->

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <!-- save -->

      <button matTooltip="save changes" (click)="clear()" [disabled]="storage.errors.length === 0" mat-icon-button>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <as-split class="content" direction="horizontal" unit="percent">
    <as-split-area [size]="10">
      <mat-nav-list class="list" dense>
        <ng-container *ngFor="let error of storage.errors; let index = index">
          <a (click)="selectError(error)" [ngClass]="{selected: selectedError === error}" class="error" mat-list-item
             role="listitem">
          <span class="item">
              {{error.error}}
          </span>
          </a>
        </ng-container>
      </mat-nav-list>
    </as-split-area>

    <as-split-area [size]="90">
      <div class="details" *ngIf="selectedError">
        <!-- date -->

        <div class="label">Date</div>
        <div>{{selectedError.date}}</div>

        <!-- label -->

        <div class="label">Error</div>
        <div>{{errorClass(selectedError)}}</div>

        <!-- message -->

        <div class="label">Message</div>
        <div>{{errorMessage(selectedError)}}</div>

        <!-- context -->

        <div class="label">Context</div>
        <div>{{errorContext(selectedError)}}</div>

        <!-- stack -->

        <div class="label">Stack</div>
        <textarea *ngIf="stack">{{stack}}</textarea>
      </div>
    </as-split-area>
  </as-split>
</div>
