:host {
  font-size: 14px;
}

.namespace-tree-invisible {
    display: none;
  }

  
  .mat-tree-node:hover:not(.background-highlight) {
    background-color: rgb(0 0 0 / 4%);
  }
  
  .namespace-tree ul,
  .namespace-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  
  .node {
    cursor: pointer;
  
    .invisible {
      visibility: hidden
    }

    .actions {
      visibility: hidden;
      margin-left: auto;
      display: flex;
    }

    .menu {
      visibility: hidden;
      margin-left: auto;
    }
  }

  .node:hover {
    .menu {
      visibility: visible;
    }
    .actions {
      visibility: visible;
    }
  }
  
  .background-highlight {
    background-color: lightgray;
  }
  