.configuration {
  display: grid;
  grid-template-columns: auto min-content;

  .table {
    .property {
      position:relative;
      bottom: 16px
    }
    .value {
      display: grid;
      grid-column-gap: 2px;
      grid-template-columns: min-content auto auto auto;

      .input {
      }

      .add {
      }

      .delete {
      }
    }
  }
}
