<div class="configuration">
  <!-- table -->

  <table class="table mat-elevation-z0" mat-table [dataSource]="dataSource">
    <!-- property column -->

    <ng-container matColumnDef="name">
      <!-- header -->
      <th mat-header-cell *matHeaderCellDef>
        <span [style.paddingLeft.px]="40">Property</span>
      </th>

      <!-- cell -->
      <td mat-cell *matCellDef="let data">
          <button  [style.visibility]="!data.expandable ? 'hidden' : ''" [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)" mat-icon-button>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
          </button>

          <mat-label class="property">{{data.name}}</mat-label>
      </td>
    </ng-container>

    <!-- value column -->

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>

      <td mat-cell *matCellDef="let data">
        <div class="value" *ngIf="data.property">
          <!-- type picker -->

          <mat-form-field *ngIf="data.property.type !== 'object'" >
            <mat-select [disabled]="data.property.inherits !== undefined" class="type" [(ngModel)]="data.property.type" (ngModelChange)="changed(data.property.value)">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- input field -->

          <ng-container *ngIf="data.property.type !== 'object'" class="input" parameter [data]="data.property" [type]="data.property.type" [disabled]="data.property.inherits !== undefined  && data.property.overwrite !== true" (onChange)="changed($event)"></ng-container>

          <!-- + -->

          <button aria-label="Add" [matMenuTriggerFor]="menu" class="add" mat-icon-button>
              <mat-icon class="delete" matSuffix>add_circle_outline</mat-icon>

              <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="addItem(data)">Value</button>
                <button mat-menu-item  (click)="addFolder(data)">Folder</button>
              </mat-menu>
          </button>

          <!-- x -->

          <button *ngIf="data.property.inherits === undefined" (click)="deleteItem(data)" aria-label="Clear" class="delete" mat-icon-button>
              <mat-icon class="delete" matSuffix>remove_circle_outline</mat-icon>
          </button>

          <button *ngIf="data.property.overwrite === true" (click)="deleteItem(data)" aria-label="Clear" class="delete" mat-icon-button>
            <mat-icon class="delete" matSuffix>clear</mat-icon>
          </button>

          <!-- edit -->

          <button *ngIf="data.property.inherits !== undefined && data.property.overwrite !== true" (click)="editItem(data)" aria-label="Clear" class="delete" mat-icon-button>
              <mat-icon class="edit" matSuffix>edit</mat-icon>
          </button>
      </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- + in case of empty entries -->

  <button aria-label="Add" [matMenuTriggerFor]="menu" class="add" mat-icon-button>
    <mat-icon class="delete">add_box</mat-icon>

    <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="addItem()">Property</button>
      <button mat-menu-item  (click)="addFolder()">Folder</button>
    </mat-menu>
  </button>
</div>
