<button (click)="sessionManager.login()" *ngIf="!sessionManager.hasSession()" mat-button>
    <span class="label">Login</span>
</button>

<span *ngIf="sessionManager.hasSession()">
    <button class="label" [matMenuTriggerFor]="menu" mat-button>{{sessionManager.getUser().name}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="localeMenu">Locale...</button>
      <button (click)="openPreferences()" mat-menu-item>Preferences...</button>
      <mat-divider></mat-divider>
      <button (click)="sessionManager.logout()" mat-menu-item>Logout</button>
    </mat-menu>

  <mat-menu #localeMenu="matMenu">
    <button *ngFor="let locale of locales" mat-menu-item (click)="selectLocale(locale)">{{locale}}</button>
</mat-menu>
</span>
